.ui-layout-container {
    width: 90% !important;
    margin: 30px auto !important;
    background-image: url("backgroundLogin.jpg");
    
}

/*.navbar-container {
    background-color: activeborder;
    overflow: hidden;
    display: flex;
    
}*/

body {
    font-size: 15px;
}
.ui-menu{
    width: 95% !important;
}

.ui-layout-unit {
    opacity: 0.92;
}

