/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 23, 2017, 9:18:05 PM
    Author     : pawkos
*/

.ui-icon {
    text-indent: 0;
}
.body {
    background-color: red;
}